<div *ngIf="quote">
    <h2>Quote "{{quote.text}}"</h2>
    <div>
      <p>{{quote.author}}</p>
    </div>
    <div>
        <p>{{quote.book}}</p>
    </div>
    <img src= "https://localhost:8443/api/images/"+quote.id>
    <p>
      <button *ngIf="loginService.isLogged && loginService.isAdmin" (click)="removeBook()">Remove</button>
      <button *ngIf="loginService.isLogged" (click)="editBook()">Edit</button>
      <br>
      <button (click)="gotoBooks()">All Books</button>
    </p>
    </div>