<mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Quotes</span>

        </div>
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-nav-list *ngIf="loginService.isLogged">
        <a *ngFor='let quote of Quotes' mat-list-item [routerLink]="['/quote', quote.id]">
            {{quote.text}}
        </a>
    </mat-nav-list>

    <mat-nav-list *ngIf="!loginService.isLogged">
        <mat-list-item [ngStyle]="{'cursor':'auto'}" *ngFor='let quote of quotes'>
            {{quote.text}}
        </mat-list-item>
    </mat-nav-list>

    <button mat-fab  *ngIf="loginService.isLogged"  (click)="newQuote()">
        <mat-icon>add</mat-icon>
    </button>
</mat-card>