<div *ngIf="quote">
    <h2>Quote "{{quote.text}}"</h2>
    <div *ngIf="quote.id">
      <label>Id: </label>{{quote.id}}
    </div>
    <div>
      <label>Author: </label>
      <input [(ngModel)]="quote.author" placeholder="Author"/>
    </div>
    <div>
        <label>Book: </label>
        <input [(ngModel)]="quote.book" placeholder="Book"/>
      </div>
    <div>
      <label>Text: </label>
      <textarea [(ngModel)]="quote.text" placeholder="text"></textarea>
    </div>
    <input type="file" (change)="onFileChanged($event)" #fileInput/>
    <p>
      <button (click)="cancel()">Cancel</button>
      <button (click)="save()">Save</button>
    </p>
    </div>