<mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Quotes</span>

        </div>
    </mat-card-title>
    <mat-divider></mat-divider>


    <mat-nav-list>
        <div *ngIf="loginService.isLogged && !reference">
            <div *ngFor='let quote of quotes'>
                <a [routerLink]="['/quote', quote.id]" [ngStyle]="{'cursor':'pointer'}"> 
                    <p mat-list-item style="padding:2%">{{quote.text}}</p>
                </a>
                <mat-divider></mat-divider>
            </div>
        </div>
        <div *ngIf="!loginService.isLogged || reference">
            <div *ngFor='let quote of quotes'>
                <p mat-list-item [ngStyle]="{'cursor':'default'}" style="margin-right: 8px;padding:2%">
                    {{quote.text}}
                </p>
                <mat-divider></mat-divider>
                <button mat-fab *ngIf="reference" (click)="addReference(quote)">Add</button>
            </div>
        </div>
    </mat-nav-list>

    <td-paging-bar *ngIf="!reference" #pagingBar [firstLast]="firstLast" [pageSize]="pageSize" [total]="total" (change)="change($event)">
        {{pagingBar.range}} of {{pagingBar.total}}
    </td-paging-bar>

    <div *ngIf="loginService.isAdmin">
    <button mat-mini-fab color="primary" style="margin:1%" (click)="newQuote()">
        <mat-icon>add</mat-icon>
    </button>Add Quote
    </div>

</mat-card>