<mat-card>
    <mat-card-title>
        <div layout="row" layout-align="start center">
            <span flex>Quotes</span>

        </div>
    </mat-card-title>
    <mat-divider></mat-divider>



    <mat-nav-list *ngIf="loginService.isLogged">
        <div *ngFor='let quote of quotes'>
            <a mat-list-item [routerLink]="['/quote', quote.id]" [ngStyle]="{'cursor':'pointer'}">
                {{quote.text}}

            </a>
        </div>
    </mat-nav-list>
    <td-paging-bar #pagingBar [firstLast]="firstLast" [pageSize]="pageSize" [total]="total" (change)="change($event)">
        {{pagingBar.range}} of {{pagingBar.total}}
    </td-paging-bar>

    <button mat-fab *ngIf="loginService.isAdmin" (click)="newQuote()">
        <mat-icon>add</mat-icon>
    </button>

</mat-card>