<div *ngIf="quote">
  <mat-card>
    <mat-card-title>
      <div layout="row" layout-align="start center">
        <span flex>Quote "{{quote.text}}"</span>
      </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="example-container">
      <div class="example-container">
        <div flex class="example-full-width">
          <mat-form-field style="width: 100%">
            <input matInput [(ngModel)]="quote.author" placeholder="Author" />
          </mat-form-field>
        </div>
        <div flex>
          <mat-form-field style="width: 100%">
            <input matInput [(ngModel)]="quote.book" placeholder="Book" />
          </mat-form-field>
        </div>
        <div flex>
          <mat-form-field style="width: 100%">
            <textarea matInput [(ngModel)]="quote.text" placeholder="text"></textarea>
          </mat-form-field>
        </div>
        <input type="file" (change)="onFileChanged($event)" #fileInput />
        <p>
          <button mat-raised-button style="margin-right: 8px" color="primary" (click)="cancel()">Cancel</button>
          <button mat-raised-button style="margin-right: 8px" color="primary" (click)="save()">Save</button>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>