{{>header}}

<div class="wrapper">
    <div class="content">
        <div class="container-fluid">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <!--Gráfico-->
                    <div class="ct-chart ct-perfect-fourth"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Cantidad de citas por Tema</h4>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> actualizado hace 4 minutos
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/chartist.min.js"></script>
<script>
    // Desde aquí se puede modificar la cantidad de citas por tema de forma dinámica
    var data = {
        labels: ['El origen de las especies', 'La Biblia', 'El Quijote', '20000 leguas de viaje submarino', 'Momo'],
        series: [
            [5, 20, 4, 2, 0]
        ]
    };
    new Chartist.Bar('.ct-chart', data);
</script>

{{>footer}}