{{>header}}


<!-- End Navbar -->
<div class="content">
    <div class="main-page-container">
        <div class="container-fluid border-container">
            <div id="p-start">
                <p class="d-lg-inline-block d-md-inline-block">
                    INICIO
                </p>
            </div>

            <div class="row">
                <!--Topic container-->
                <div class="col-md-6">
                    <div class="card">
                        <!--Quote board header-->
                        <div class="card-header card-header-success">
                            <h2 class="card-title">Temas</h2>
                        </div>

                        <!-- Quote search bar -->
                        {{#logged}}
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <form class="navbar-form">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control"
                                            placeholder="Buscar un tema..." />
                                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                            <i class="material-icons">search</i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {{/logged}}
                        <!--Quote zone-->
                        <div class="row">
                            {{#logged}}
                            {{topicArray}}
                            {{/logged}}
                            {{^logged}}
                            <p>You must be logged in to see the topic table.</p>
                            {{/logged}}
                        </div>
                        <!--End of quote row-->
                        <!--Add quote button-->
                        {{#logged}}
                        {{#admin}}
                        <div class="col-md-12">
                            <span class="pull-right">
                                Añadir tema
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <a href="../templates/topicForm.html"><i class="material-icons">library_add</i></a>
                                </button>
                            </span>
                        </div>
                        {{/admin}}
                        {{/logged}}
                    </div>
                </div>


                <div class="col-md-6">
                    <!--Quotes container-->
                    <div class="card">
                        <!--Quote board header-->
                        <div class="card-header card-header-warning">
                            <h2 class="card-title">Citas</h2>
                        </div>

                        <!-- Quote search bar -->
                        {{#logged}}
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <form class="navbar-form">
                                    <div class="input-group no-border">
                                        <input type="text" value="" class="form-control" placeholder="Buscar..." />
                                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                            <i class="material-icons">search</i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {{/logged}}

                        <!--Quote zone-->
                        <div class="row">

                            {{#logged}}
                            {{quoteArray}}
                            {{/logged}}
                            {{^logged}}
                            <p>You must be logged in to see the quote table.</p>
                            {{/logged}}

                        </div>
                        <!--End of quote row-->

                        {{#logged}}
                        {{#admin}}
                        <!--Add quote button-->
                        <div class="col-md-12">
                            <span class="pull-right">
                                Añadir cita
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <a href="../templates/quoteForm.html"><i class="material-icons">library_add</i></a>
                                </button>
                            </span>
                        </div>
                        {{/admin}}
                        {{/logged}}
                    </div>
                </div>
                {{#logged}}
                <div id="histogram">
                    <a class="d-lg-inline-block d-md-inline-block" href="../templates/graphs.html">
                        HISTOGRAMA
                    </a>
                </div>
                {{/logged}}
            </div>
        </div>
    </div>
</div>

{{>footer}}