<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
        <link rel="icon" type="image/png" href="../assets/img/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>
            Gestor de Citas
        </title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-- CSS Files -->
        <link href="../assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    </head>

    <body>
        <div class="wrapper ">
            <div class="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end">
                            <ul class="navbar-nav" id = "background-login">
                                <li class="nav-item dropdown">
                                    <a class = "nav-link" href = "#pablo" id = "navbarDropdownProfile">
                                        <div id = "position-dialogue" onclick= "displayMenu()">
                                            <p class="d-lg-inline-block d-md-inline-block">
                                                Login
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item dropdown" onclick= "displayMenu()">
                                    <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">person</i>
                                        <p class="d-lg-none d-md-block">
                                            Account
                                        </p>
                                    </a>
                                    <div style = "display: none;" class=" dropdown-menu-right" id = "dropdownLogin" aria-labelledby="navbarDropdownProfile">
                                        <a class="dropdown-item" href="#">Profile</a>
                                        <a class="dropdown-item" href="#">Settings</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
                <div class="content index-content">
                    <div class="container-fluid border-container" >
                        <div id = "p-start">
                            <p class="d-lg-inline-block d-md-inline-block">
                                INICIO
                            </p>
                        </div>

                        <div class="row">
                            <!--Topic container-->
                            <div class="col-md-6">
                            <div class="card">
                                    <!--Quote board header-->
                                    <div class="card-header card-header-success">
                                        <h1 class="card-title">TEMAS</h1>
                                    </div>

                                    <!-- Quote search bar -->
                                    <div class="col-md-12">
                                        <form class="navbar-form">
                                            <div class="input-group no-border">
                                                <input type="text" value="" class="form-control" placeholder="Buscar un tema..."/>
                                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                                    <i class="material-icons">search</i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                             <!--Quote zone-->
                             <div class="row">
                                <!--Basic quote box -->
                                <div class="col-lg-6 col-md-4 col-sm-6">
                                        <div class="card card-stats">
                                            <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">library_books</i>
                                                </div>
                                                <p class="card-category">Tema</p>
                                                <div class="tim-typo">
                                                        <blockquote class="blockquote">
                                                                <h3 style="color:black">
                                                                Journey to the center of the Earth
                                                                </h3>
                                                                <small style="color:grey">
                                                                Jules Verne
                                                                </small>
                                                            </blockquote>
                                                <td class="td-actions text-left">
                                                        <button type="button" rel="tooltip" title="Editar tema" class="btn btn-primary btn-link btn-sm">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Borrar Cita" class="btn btn-danger btn-link btn-sm">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!--Basic quote box -->
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="card card-stats">
                                            <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">library_books</i>
                                                </div>
                                                <p class="card-category">Tema</p>
                                                <div class="tim-typo">
                                                        <blockquote class="blockquote">
                                                                <h3 style="color:black">
                                                                Stupid people from the Music World
                                                                </h3>
                                                                <small style="color:grey">
                                                                Kanye West
                                                                </small>
                                                            </blockquote>
                                                <td class="td-actions text-left">
                                                        <button type="button" rel="tooltip" title="Editar tema" class="btn btn-primary btn-link btn-sm">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Borrar Cita" class="btn btn-danger btn-link btn-sm">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!--Basic quote box -->
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="card card-stats">
                                            <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">library_books</i>
                                                </div>
                                                <p class="card-category">Tema</p>
                                                <div class="tim-typo">
                                                        <blockquote class="blockquote">
                                                                <h3 style="color:black">
                                                                The life and letters of Charles Darwin
                                                                </h3>
                                                                <small style="color:grey">
                                                                Charles Darwin
                                                                </small>
                                                            </blockquote>
                                                <td class="td-actions text-left">
                                                        <button type="button" rel="tooltip" title="Editar tema" class="btn btn-primary btn-link btn-sm">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Borrar Cita" class="btn btn-danger btn-link btn-sm">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Basic quote box -->
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="card card-stats">
                                            <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon">
                                                    <i class="material-icons">library_books</i>
                                                </div>
                                                <p class="card-category">Tema</p>
                                                <div class="tim-typo">
                                                        <blockquote class="blockquote">
                                                                <h3 style="color:black">
                                                                Momo
                                                                </h3>
                                                                <small style="color:grey">
                                                                Michael Ende
                                                                </small>
                                                            </blockquote>
                                                <td class="td-actions text-left">
                                                        <button type="button" rel="tooltip" title="Editar tema" class="btn btn-primary btn-link btn-sm">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="Borrar tema" class="btn btn-danger btn-link btn-sm">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Add more quotes here-->
                            </div>
                            <!--End of quote row-->
                            <!--Add quote button-->
                            <div class="col-md-12">
                                <span class="pull-right">
                                    Añadir tema
                                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">library_add</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!--Quotes container-->
                        <div class="card">
                                <!--Quote board header-->
                                <div class="card-header card-header-warning">
                                    <h1 class="card-title">CITAS</h1>
                                </div>

                                <!-- Quote search bar -->
                                <div class="col-md-12">
                                    <form class="navbar-form">
                                        <div class="input-group no-border">
                                            <input type="text" value="" class="form-control" placeholder="Buscar..."/>
                                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                                <i class="material-icons">search</i>
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <!--Quote zone-->
                                <div class="row">
                                    <!--Basic quote box -->
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-warning card-header-icon">
                                                    <div class="card-icon">
                                                        <i class="material-icons">speaker_notes</i>
                                                    </div>
                                                    <p class="card-category">Cita</p>
                                                    <div class="tim-typo">
                                                            <blockquote class="blockquote">
                                                                    <p style="color:black">
                                                                    “We are of opinion that instead of letting books grow moldy behind an iron grating, far from the vulgar gaze, it is better to let them wear out by being read.” 
                                                                    </p>
                                                                    <small style="color:grey">
                                                                    Jules Verne, Journey to the Center of the Earth
                                                                    </small>
                                                                </blockquote>
                                                    <td class="td-actions text-left">
                                                            <button type="button" rel="tooltip" title="Editar cita" class="btn btn-primary btn-link btn-sm">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Borrar Cita" class="btn btn-danger btn-link btn-sm">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </td>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <!--Basic quote box -->
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-warning card-header-icon">
                                                    <div class="card-icon">
                                                        <i class="material-icons">speaker_notes</i>
                                                    </div>
                                                    <p class="card-category">Cita</p>
                                                    <div class="tim-typo">
                                                            <blockquote class="blockquote">
                                                                    <p style="color:black">
                                                                    I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
                                                                    </p>
                                                                    <small style="color:grey">
                                                                    Kanye West, Musician
                                                                    </small>
                                                                </blockquote>
                                                    <td class="td-actions text-left">
                                                            <button type="button" rel="tooltip" title="Editar cita" class="btn btn-primary btn-link btn-sm">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Borrar Cita" class="btn btn-danger btn-link btn-sm">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </td>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <!--Basic quote box -->
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="card card-stats">
                                                <div class="card-header card-header-warning card-header-icon">
                                                    <div class="card-icon">
                                                        <i class="material-icons">speaker_notes</i>
                                                    </div>
                                                    <p class="card-category">Cita</p>
                                                    <div class="tim-typo">
                                                            <blockquote class="blockquote">
                                                                    <p style="color:black">
                                                                    “A man who dares to waste one hour of time has not discovered the value of life.” 
                                                                    </p>
                                                                    <small style="color:grey">
                                                                    Charles Darwin, The life and letters of Charles Darwin
                                                                    </small>
                                                                </blockquote>
                                                    <td class="td-actions text-left">
                                                            <button type="button" rel="tooltip" title="Editar cita" class="btn btn-primary btn-link btn-sm">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Borrar Cita" class="btn btn-danger btn-link btn-sm">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </td>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Add more quotes here-->
                                </div>
                                <!--End of quote row-->
                                <!--Add quote button-->
                                <div class="col-md-12">
                                    <span class="pull-right">
                                        Añadir cita
                                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                            <i class="material-icons">library_add</i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                    </div>
                    <div id = "histogram">
                        <a class = "d-lg-inline-block d-md-inline-block" href = "">
                            HISTOGRAMA
                        </a>
                     </div>
                </div>
            </div>
        </div>
    </body>


    <script>
        function displayMenu(){
			var display;
			var dropdownLogin = document.getElementById("dropdownLogin");
			display= dropdownLogin.style.display;

			if (display == "none"){
				dropdownLogin.style.display = "block"
			} else if (display == "") {
				dropdownLogin.style.display = "block"
			} else {
				dropdownLogin.style.display = "none";
			}
		}
    </script>
</html>