{{>navbar}}

<div class="content">
	<div class="main-page-container">
		<div class="container-fluid border-container">
			<div id="p-start">
				<p class="d-lg-inline-block d-md-inline-block">
					<a href="/">INICIO</a>
				</p>
			</div>
			<div class="row">
				<div class="col-md-6 card-group">
					<div class="card">
						<div class="card-header card-header-primary">
							<h4 class="card-title">Editar Tema</h4>
							<p class="card-category">Añada citas y/o textos</p>
						</div>
						<div class="card-body">
							<form action="/createTopic" method="post">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="bmd-label-floating">Titulo Tema</label> <input name="name" type="text"
												class="form-control" {{#name}} value="{{name}}"{{/name}}>
										</div>
									</div>
								</div>
								<div class="topicForm">
									{{#quoteReference}}
									<div class="col-lg-12 col-md-12 col-sm-12" id="{{id}}.quote">
										<div class="card card-stats">
											<div class="card-header card-header-warning card-header-icon">
												<div class="card-icon">
													<i class="material-icons">speaker_notes</i>
												</div>
												<input type="hidden" name="quoteIds" value="{{id}}" class="form-control"/>
												<p class="card-category">Cita</p>
												<div class="tim-typo">
													<blockquote class="blockquote">
														<p style="color: black">{{text}}</p>
														<small style="color: grey"> {{author}},{{book}}</small>
													</blockquote>
												</div>
											</div>
										</div>
									</div>
									{{/quoteReference}}
									{{#textReference}}
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="bmd-label-floating">Titulo Tema</label>
												<input name="texts" type="text"class="form-control" value="{{textReference}}">
											</div>
										</div>
									</div>
									{{/textReference}}

								</div>
								<button type="submit" class="btn btn-primary pull-right">Actualizar tema</button>
								<input type="hidden" name="_csrf" value="{{token}}" />
							</form>
							<button id="addQuote" class="btn btn-sm" type="menu">Añadir cita</button>
							<button id="addText" class="btn btn-sm" type="button">Añadir texto</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card card-profile">
						<div class="card-avatar">
							<a href="#pablo"> <img class="img" src="/img/faces/marc.jpg" />
							</a>
						</div>
						<div class="card-body">
							<h6 class="card-category text-gray">HTML del texto + citas</h6>
							<h4 class="card-title">Ejemplo HTML</h4>
							<p class="card-description">SAMPMLE HTML</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="quoteSelection" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close justify-content-end">X</span>
		<div class="row" id="quoteSelectionDiv">

			{{#quote}}

				<div class="col-lg-12 col-md-12 col-sm-12" id="{{id}}">
					<div class="card card-stats">
						<div class="card-header card-header-warning card-header-icon">
							<div class="card-icon">
								<i class="material-icons">speaker_notes</i>
							</div>
							<input type="hidden" name="quoteIds" value="{{id}}" class="form-control"/>
							<p class="card-category">Cita</p>
							<div class="tim-typo">
								<blockquote class="blockquote">
									<p style="color: black">{{text}}</p>
									<small style="color: grey"> {{author}},{{book}}</small>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
				<span class="pull-right" id="{{id}}AddButton"> Añadir cita

					<button type="submit" onclick="addQuote({{id}})" class="btn btn-white btn-round btn-just-icon">
						<i class="material-icons">library_add</i>
					</button>
				</span>


			{{/quote}}

		</div>
	</div>
</div>


{{>footer}}