<div *ngIf="topic">
  <mat-card>
    <mat-card-title>
      <div layout="row" layout-align="start center">
        <span flex>Topic "{{topic.name}}"</span>
      </div>
    </mat-card-title>

    <mat-list>
      <mat-card *ngFor='let quote of quotes'>
        <mat-card-title>
          <mat-icon mat-list-icon>note</mat-icon>
          <i>"{{quote.text}}"</i>
        </mat-card-title>
        <mat-card-content>{{quote.author}},{{quote.book}}</mat-card-content>
      </mat-card>


      <mat-list-item *ngFor='let text of topic.texts'>
        <input matInput disabled value="{{text}}" />
      </mat-list-item>

      <mat-list-item>
        <button mat-raised-button style="margin-right: 8px" color="primary" *ngIf="login.isLogged && login.isAdmin"
          (click)="removeTopic()">Remove</button>
        <button mat-raised-button style="margin-right: 8px" color="primary" *ngIf="login.isLogged && login.isAdmin"
          (click)="editTopic()">Edit</button>
        <br>
        <button mat-raised-button style="margin-right: 8px" color="primary" (click)="goToTopics()">Back</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button style="margin-right: 8px" color="primary" (click)="downloadPDF()">Download
          PDF</button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>