<div *ngIf="topic">
    <h2>Topic "{{topic.name}}"</h2>
    <div *ngIf="topic.id">
      <label>Id: </label>{{topic.id}}
    </div>
    <div>
      <label>Name: </label>
      <input [(ngModel)]="topic.name" placeholder="Name"/>
    </div>

    

    <div *ngFor='let quote of quotes'>
        <p>{{quote?.text}}</p>
        <p>{{quote?.author}}</p>
        <p>{{quote?.book}}</p>
      </div>
    <div *ngIf=topic.hasTexts>

        <div *ngFor='let text of topic.texts'>
          <label>Texts</label>
          <input [(ngModel)]="text" placeholder="Text"/>
        </div>
    </div>
    <p>
      <button (click)="showPopup()">Add Quote</button>
    </p>
    
    <p>
      <button (click)="cancel()">Cancel</button>
      <button (click)="save()">Save</button>
    </p>
    <button (click)="downloadPDF()">Descargar PDF</button>>
</div>