{{>header}}

<div class="card subcard">
    <div class="card-body quote-reference">
        <form>
            <div class="row ">
                <div class="col-md-12">
                    <div class="card-header card-header-warning">
                        <h5 class="card-title">
                            Referencia Cita 1
                            <i class="material-icons delete">delete</i>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input name="text" placeholder="Texto" class="form-control">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Autor</label>
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Obra</label>
                        <input type="email" class="form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{{>footer}}